{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block context %}
{% if news %}
    {% for item in news %}
        <div class="card mb-3">
            <div class="card-header">
                Категория: {{ item.category }}
            </div>
                <div class="media">
                    {% if item.photo %}
                        <img src="{{ item.photo.url}}" alt="{{ item.title }} picture" width="300">
                    {% else %}
                        <img src="https://s1.1zoom.me/b5050/4/Cats_Kittens_Ginger_484195_3840x2400.jpg" alt="kitten" width="300">
                    {% endif %}
                    <div class="media-body">
                        <h5 class="mt-0">{{ item.title }}</h5>
                        <p>{{ item.content|truncatewords:100 }}</p>
                        <a href="{{ item.get_absolute_url }}" class="btn btn-primary">Подробнее...</a><br><br>
                    </div>
                </div>
            <div class="card-footer text-muted">
                Опубликовано: {{ item.created_at|date:'d.m.Y H:i' }}
            </div>
        </div>
    {% endfor%}
{% else %}
    <div class="card mb-3">
        <div class="card-header">
            Категория: ...
        </div>
        <div class="card-body">
            <p class="card-text">У нас пока нет ни одной новости, ни единой...</p>
        </div>
    </div>
{% endif %}
{% endblock %}