{% extends 'base.html' %}

{% block title %}{{ news.title }}{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block headline %}
    {{ news.title }}
{% endblock %}

{% block context %}
<div class="card mb-3">
    <div class="card-header">
        Опубликовано: {{ news.created_at|date:'d.m.Y H:i' }} | Категория: {{ news.category }} | Автор: {{ news.user }}
    </div>
    <div class="media">
        <h5 class="mt-0">{{ news.title }}</h5>
        <p>
            {% if news.photo %}
                <img src="{{ news.photo.url }}" alt="{{ news.title }} picture"
                    width="300" class="mr-3" align="left" vspace="5" hspace="5">
            {% else %}
                <img src="https://s1.1zoom.me/b5050/4/Cats_Kittens_Ginger_484195_3840x2400.jpg" alt="default_kitten"
                    width="300" class="mr-3"align="left" vspace="5" hspace="5">
            {% endif %}
            {{ news.content }}
        </p>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'news_list' %}" class="btn btn-primary">Все новости</a>
        <a href="{% url 'news_update' news.pk %}" class="btn btn-primary">Изменить новость</a>
        <a href="{% url 'news_delete' news.pk %}" class="btn btn-danger">Удалить новость</a>
    </div>
</div>
{% endblock %}