{% extends 'base.html' %}

{% block title %}{{ news.title }}{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block headline %}
    АшипкА
{% endblock %}

{% block context %}
<div class="card mb-3">
    <div class="card-header">
        Ошибка: 403
    </div>
    <div class="media">
        <h5 class="mt-0">Доступ запрещен</h5>
        <p>Изменить или удалить новость может только атор и администратр</p>
    </div>
    <div class="card-footer text-muted">
        <a href="{% url 'news_list' %}" class="btn btn-primary">Все новости</a>
    </div>
</div>
{% endblock %}